$containerWidth_xxxl: 1380px;
$containerWidth_xxl: 1100px;
$containerWidth_xl: 900px;
$containerWidth_lg: 670px;
$containerWidth_md: 510px;
$containerWidth_sm: 320px;
$containerWidth_xs: 270px;

$breakpoint-xs: 330px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
