@import "./src/assets/styles/main";
@import './keyframes';

.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lowOpacityBlack;
  visibility: visible;
  .modal {
    padding: 20px;
    border-radius: 10px;
    background: $white;
    .topBar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px;
      .title {
        font-size: 20px;
      }
      .close {
        width: min-content;
        transition: all 0.25s ease;
        &:before {
          display: block;
          content: url("../../../assets/images/cross.svg");
          width: 24px;
          height: 24px;
        }
        &:hover {
          transform: rotate(180deg);
          scale: 1.1;
        }
        &:active {
          scale: 0.9;
        }
      }
    }
    .content {
      width: 360px;
      @include _sm {
        width: 100%;
      }
    }
  }
  &.closing {
    animation-duration: 0.5s;
    animation-name: hideModal;
    animation-iteration-count: 1;
    animation-direction: normal;
    .close {
      opacity: 0;
    }
  }
  &.closed {
    visibility: hidden;
    .close {
      opacity: 0;
    }
  }
  &.opening {
    animation-duration: 0.5s;
    animation-name: showModal;
    animation-iteration-count: 1;
    animation-direction: normal;
  }
}