@import '/src/assets/styles/main.scss';

.topBar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 17px;
	.title {
		font-size: 20px;
	}
	.close {
		width: min-content;
		transition: all 0.25s ease;
		cursor: pointer;
		&:before {
			display: block;
			content: url("/assets/images/cross.svg");
			width: 24px;
			height: 24px;
		}
		&:hover {
			transform: rotate(180deg);
			scale: 1.1;
		}
		&:active {
			scale: 0.9;
		}
	}
}
.content {
	width: 360px;
	@include _sm {
		width: 100%;
	}
}