@import "../../../../../assets/styles/main";

$cellWidth: 180px;
$cellHeight: 60px;


.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $cellWidth;
  height: $cellHeight;
  border: 1px solid $lightGray;
  cursor: pointer;
  transition: all 0.25s ease;
  &.head {
    font-weight: 500;
    user-select: none;
    cursor: default;
  }
  &:not(&.head) {
    &:hover {
      background: $lightPink;
    }

    &.checked {
      background: $pink;
    }
  }
  &:first-child {
    width: $cellHeight;
  }
  @include _md {
    font-size: 10px;
  }
  @include _sm {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
